aiofiles
beautifulsoup4
chromadb~=0.5.0
fastapi
jinja2
langchain~=0.2.0
langchain-anthropic
langchain-community~=0.2.0
langchain-google-genai
lxml
markdown
passlib[bcrypt]
pdfplumber
pypdf
docx2txt
python-docx
python-dotenv
python-magic
python-multipart
pyyaml>=6.0
requests
slowapi
thefuzz[speed]
unstructured
urllib3>=2.0.0,<3.0.0
uvicorn[standard]
watchdog
langchain-chroma~=0.1.0
langchain-unstructured~=0.1.0
psycopg2-binary
sqlalchemy
alembic
